body{background:url(../img/bg2.jpg);width:100%;margin:0;padding:0;}
.header{ width:100%;height:40px;background:rgba(161, 152, 75, 0.82);}
.header ul{width:80%;height:40px;margin:0 auto;}
.header ul li{position:relative;cursor:pointer;line-height:40px;text-align:center;list-style:none;float:left;width:105px;height:40px;}
.header .ul1 li:hover{background:#fff;}
.header ul li:hover span{color:#000;}
.header ul li img{width:25px;height:25px;margin-top:8px;}
.header ul li span{color:#fff;font-size:14px;margin-left:2px;}
.header ul li .Con{display:none;z-index:20;background:#fff;width:500px;height:200px;border:1px solid gray;position:absolute;top:40px;border-top:none;}
.header ul li .Con1{display:none;z-index:20;background:#fff;width:500px;height:300px;border:1px solid gray;position:absolute;top:40px;border-top:none;}
.header ul li .Con2{display:none;z-index:20;background:#fff;width:530px;height:345px;border:1px solid gray;position:absolute;top:40px;border-top:none;}
.header ul li .Con3{z-index:20;display:none;background:url(../img/bg0.jpg);width:500px;height:200px;border:1px solid gray;position:absolute;top:40px;border-top:none;}
.Con .con_left{width:150px;border-right:1px dotted gray;height:200px;float:left;position:relative;}
.Con .con_left img{border:1px solid gray;position:absolute;top:30px;left:30px;}
.Con .con_right{width:348px;height:200px;float:right;}
.Con .con_right ul{width:348px;height:200px;margin-left:-12px;}
.Con .con_right ul li{width:60px;height:60px;float:left;margin-top:23px;}
.Con .con_right ul li img{width:50px;height:50px;border-radius:3px;}
.Con .con_right ul li span{margin-top:-20px;font-size:12px;color:#000;display:block;}
.Con1 .friend_left{width:150px;border-right:1px dotted gray;height:300px;float:left;}
.Con1 .friend_left img{width:50px;margin-top:30px;margin-left:20px;height:50px;border-radius:3px;border:1px solid gray;}
.Con1 .friend_left span{font-size:13px;color:#666666;}
.Con1 .friend_right{width:348px;height:300px;float:right;position:relative;}
.Con1 .friend_right span{font-size:13px;color:#666;position:absolute;left:10px;}
.Con1 .friend_right input{float:right;width:150px;height:20px;margin-right:3px;margin-top:8px;border:1px solid #666;border-radius:3px;}
.Con1 .friend_right p img{width:18px;height:18px;border-radius:4px;position:absolute;right:5px;top:19px;}
.Con1 .friend_right .link img{width:318px;height:210px;}
.Con2 .Con2_left{width:100px;height:345px;border-right:1px dotted gray;float:left;}
.Con2 .Con2_right{width:428px;height:345px;float:right;}
.Con2 .Con2_left ul{margin-left:15px;margin-top:8px;padding:0;}
.Con2 .Con2_left ul li{height:110px;margin-left:-20px;}
.Con2 .Con2_left ul li img{width:60px;height:60px;}
.Con2 .Con2_left ul li span{font-size:12px;color:#666;margin-top:-50px;}
.Con3 ul li{width:120px;height:90px;margin:5px;float:left;}
.Con3 ul li img{width:120px;height:90px;padding:0;margin:0;}
.left{border:1px solid #666;border-radius:5px;width:190px;height:530px;background:#fff;float:left;margin-left:150px;margin-top:50px;}
.left ul{width:190px;height:530px;margin:0;padding:0;}
.left ul li{position:relative;cursor:pointer;list-style:none;width:96%;font-size:14px;color:#181B18;height:35px;text-align:center;line-height:35px;margin-left:2%;margin-top:2px;}
.left ul li:hover{background:#FFE09A;color:#000;border-radius:5px;}
.left ul li img{width:20px;height:20px;position:absolute;top:6px;left:28px;}
.left ul li a{color:#666;font-weight:normal;}
.right{ width:240px;height:535px;background:#fff;float:right;border-radius:5px;margin-right:100px;margin-top:50px;}
.right .right_top{width:240px;height:100px;border-radius:5px;}
.right .right_top img{width:240px;height:100px;cursor: pointer;}
.right .right_main{position:relative;width:240px;height:130px;border-radius:5px;margin-top:13px;}
.right_main ul li{list-style:none;position:absolute;left:0;top:0;}
.right_main ul li img{float:left;border-radius:3px;}
.right .right_bottom{position:relative;width:240px;height:278px;margin-top:13px;border-radius:5px;}
.right .right_bottom h3{width:240px;font-size:13px;margin-left:10px;color:#181B18;height:35px;line-height:35px;}
.right .right_bottom ul{width:200px;height:228px;}
.right .right_bottom ul li{cursor:pointer;width:225px;height:68px;margin-top:10px;margin-left:-25px;list-style:none;}
.right .right_bottom ul li img{float:left;width:82px;}
.right .right_bottom ul li .text{font-size:12px;width:143px;line-height:22px;color:gray;float:right;}

.nav{width:80%;height:250px;margin:0 auto;}
.nav span{line-height:20px;font-size:14px;height:20px;display:block;color:#FF9E3C;}
.nav .name{height:195px;width:100%;}
.nav .name .name1{margin:15px;float:left;border:1px solid gray;border-radius:5px}
.nav .name .name2{width:80%;height:195px;float:right;position:relative;}
.nav .name .name2 .main{height:120px;width:100%;}
.nav .name .name2 .main span{height:120px;width:100%;font-size:27px;color:#FF9E3C;line-height:120px;}
.nav .name .name2 .main1{height:75px;width:100%;}
.main1 ul li{list-style:none;float:left;margin:25px 10px;}
a{text-decoration: none;font-weight:bold;color:#FF841B;}

.timer{width:450px;height:180px;position:absolute;right:10px;top:80px;}
.timer span{font-size:28px;font-weight:bold;color: #FF841B;}
div.content{width:400px;color:#FF841B;font-size:20px;font-weight:bold;margin:10px 0;padding:20px;border:2px solid #ff8b58;border-radius:50px;}
input[type='text']{width:42px;color:#000;text-align:center;line-height:33px;
    font-size:20px;height:33px;border-radius:20px;outline:none;padding:5px 14px;margin:5px 0;border:1px solid #ff9966;}



/*.header ul li{height:40px;line-height:40px;margin-left:30px;list-style:none;float:left;}
.header ul li img{width:25px;height:25px;margin-top:6px;}
.header ul li span{float:right;display:block;color:#fff;font-size:13px;height:40px;line-height:40px;}
.header ul li:hover{background:red;}*/

.music{width:600px;height:150px;background:url(../img/bg2.png);position:absolute;top:42px;right:-37px;display:none;}
.music .musicImg{width:150px;height:150px;float:left;}
.music .musicCon{width:450px;height:150px;float:right;}
.music .musicCon h3{color:#fff;font-size:18px;line-height:30px;font-weight:bold;}
.music .musicCon dl{height:48px;width:450px;margin-top:20px;margin-left:5px;}
.music .musicCon dl dt {width:48px;height:48px;float:left;}
.music .musicCon dl dd {position:relative;width:400px;height:48px;float:right;}
.music .musicCon dl dd p.music_jb{border-radius:3px;position:absolute;top:20px;width:96%;height:5px;background:#898989;}
.music .musicCon dl dd p.music_jb1{border-radius:3px;position:absolute;top:20px;left:0;width:0;height:5px;background:#fff;}
#Music .MusicImg img.zq{-webkit-animation:zq 3s infinite linear;}




#qq{margin:50px auto 30px;width:600px;height:170px;border:1px solid #000;background:#fff;border-radius:5px; }
#qq p{font-size:13px;color:#666;line-height:25px;text-indent: 20px;}
#qq .message{outline:none;border:1px solid gray;width:560px;height:70px;border-radius:3px;margin:0 auto;}
#qq .button{width:560px;height:35px;margin:15px auto 0;position:relative;}
#qq .submit{width:80px;height:30px;background: #ffac5b;color:#fff;font-size:14px;cursor:pointer;text-align:center;line-height:30px;display:block;float:right;border-radius:5px;}
#qq .face{display:none;width:400px;height:190px;background:#fff;border:1px solid #000;border-radius:3px;position:absolute;top:21px;left:15px;}
#qq .face ul li{cursor:pointer;list-style:none;margin:2px;width:22px;height:22px;float:left;}
.mesCon{width:600px;height:500px;margin:0 auto;}
.mesCon .mesBox{width:600px;height:130px;border-radius:5px;background:#fff;padding:5px 0;margin-bottom:10px;}
.mesCon .mesBox dl{height:60px;border-bottom:1px dotted gray;}
.mesCon .mesBox dt{width:50px;height:50px;float:left;}
.mesCon .mesBox dd{width:500px;height:50px;line-height:50px;font-size:16px;color:#FF841B;float:right;font-weight:bold;}
.mesCon .mesBox .mesTex{font-size:14px;color:#000;margin-left:60px;line-height:20px;}


.photo .photo_main{position:absolute;top:180px;left:25px;display:none;}
#Message{position:relative;background:#fff;padding:15px 10px;width:602px;border-radius:5px;}
#Message .MesCon{width:600px;height:100px;border:1px solid gray;border-radius:5px;}
#Message .MesCon .imgBut{font-size:12px;color:#666;text-align:center;padding-top:65px;width:100px;height:35px;background:url(../img/tu.png) no-repeat 33px 30px;float:left;}
#Message .MesCon .Edit{width:499px;height:100px;border-left:1px solid #666;float:right;}
#Message .MesBut{width:602px;height:30px;font-size:12px;color:#666;line-height:30px;margin-top:10px;}
#Message .MesBut font{cursor:pointer;margin:0 20px;}
#Message .MesBut span{background: #ff9c41;z-index:130;width:80px;border-radius:5px;color:#fff;line-height:30px;text-align:center;height:30px;display:block;float:right;}
#Message .tzImg{display:none;box-shadow:0 0 10px #FFF;position:absolute;left:0;top:160px;width:622px;height:220px;background: rgba(0, 0, 0, 0.3);margin-top:10px;}
#Message .tzImg p{font-size:24px;position:absolute;width:622px;height:220px;line-height:220px;text-align:center;color:#fff;}

.shadow{display:none;width:100%;z-index:5555;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.6);}

*{margin:0;}
.bigImg{display:none;width:100%;height:100%;z-index:6666;position:absolute;top:0;left:0;overflow:hidden;}
.imgList{display:none;width:570px;height:450px;background:rgba(0,0,0,0.5);z-index:8888;
    box-shadow:0 0 20px #ffffff;position:absolute;left:350px;top:100px;}
.imgList h3{height:46px;background:url(../img/title_bg.jpg);font-size:18px;line-height:46px;text-indent: 20px;}
.imgList h3 .close{float:right;margin:8px 10px 0 0;}
.imgList ul li{width:150px;height:105px;border:3px solid #ffd2ff;list-style:none;float:left;margin:11px 6px;}
.button1{display:none;z-index:8888;width:100%;height:62px;position:absolute;bottom:0;background:url(../img/nav-bg.png);}
.buttonCon{width:300px;height:62px;margin:0 auto;}
.buttonCon img{margin:10px 12px;}

.button1 .Img_close{width:50px;text-align:center;line-height:30px;color:#fff;font-size:15px;font-weight:bold;border-radius:20px;height:30px;background: #cf9eff;position:absolute;right:10px;top:10px;}

/*сно╥*/
#playGame{position:relative;}
.playGame1 img{float:right;}
.playGame1{position:absolute;display:none;width:400px;border-radius:5px;height:400px;background: #ffea93;z-index:6666;}
body.caution {  cursor: help ;  }
table.mine-sweeper {}
table.mine-sweeper td {  background-color: #F0F0F0 ;  border: 1px solid #333333 ;  border-radius:1px;  cursor: pointer ;  height: 25px ;  line-height: 25px ;  overflow: hidden ;  text-align: center ;  width: 25px ;  }
table.mine-sweeper td.active {  background-color: #D8D8D8 ;  }
table.mine-sweeper td.bomb {  font-weight: bold ;  }
table.mine-sweeper td.bombed {  background-color: #FFD0D0 ;  color: #CC0000 ;  font-weight: bold ;  }
table.mine-sweeper td.caution {  background-color: #FFD0D0 ;  color: #CC0000 ;  font-weight: bold ;  }