*{margin:0;padding:0;}
body{background:url(../img/bg3.jpg);}
.login{width:330px;height:400px;border-radius:5px;box-shadow:0 0 5px #666;padding:30px 40px;background:url(../img/bg3.jpg);margin:100px 200px;border:1px solid #000;}
.login .Lg{width:330px;height:400px;}
.login .Lg h2{font-size:26px;font-weight:200;color:#fff;padding-bottom:30px;}
.login .Lg h2 a{font-size:14px;text-decoration:none;float:right;}
.login .Lg h3{font-size:16px;font-weight:200;line-height:30px;color:rgba(0, 0, 0, 0.76);padding-top:10px;}
.login .Lg p input.txt{width:320px;height:38px;font-size:18px; border:1px solid gray;border-radius:5px;}
.login .Lg p input.but{cursor:pointer;width:320px;height:38px;margin-top:30px;color:#fff;background:#FF0D21;font-size:18px;border:1px solid #000;border-radius: 5px;}
.login .Lg h4 {margin-top:30px;float:right;color:gray;}
.login .Lg h4 a{text-decoration:none;font-size:14px;font-weight:100;}